.omniscript-step__body ,.omniscript-step__body>slot{
    align-items: revert
   }
    
    /* .omniscript-step__body .slds-accordion,.omniscript-step__body .slds-accordion__list-item,.omniscript-step__body .slds-accordion__section,.omniscript-step__body .slds-accordion__content{
    height:100%
    } */
    .omniscript-step__body .slds-accordion__content{
    display:grid;
    }
    .omniscript-step__body c-patient-regnavigation-block{
    margin:auto;
    }
    .comm-page-home .omniscript-step__body c-patient-regnavigation-block .buttonAlign{
        padding: 20px 32px 40px 32px;
    }
  
    .registration-selection-block .slds-form-container{
      padding: 40px 32px 0; 
      min-height: 360px;
    }
	.itemsAlign{
		padding: 0 !important;
	}
    c-patient-reg-block-styling .slds-accordion__section{
        padding:0;
    }
    c-patient-reg-block-styling .slds-accordion__summary{
        display: none;
    }
.comm-page-home c-patient-regnavigation-block {
    padding: 0;
}
omnistudio-omniscript-block[data-omni-key="collectionnotice"] .slds-accordion__summary-action{
  padding-top: 0;
  padding-bottom: 20px;
}
/*spacing and typography*/
	
.header-h1{
    font-size:37px !important;
    line-height:56px;
    margin-bottom: 32px !important;
    color: #313132;
    font-family: 'BC Sans' !important;
    font-style: normal;
    font-weight: bold;
}
.body-text{
    font-size:16px;
    line-height:24px;
    margin-bottom: 48px;
    color: #313132;	
    font-family: 'BC Sans';
    font-style: normal;

}
.header-h2{
    font-size:32px !important ;
    line-height:48px;
    margin-bottom: 32px !important;
    color: #313132;	
    font-family: 'BC Sans' !important;
    font-style: normal;
    font-family: bold;
}

.extra-space{
    padding-bottom:100px;
}
/*DHSOPR-2491 start*/
	
	/*Eyebrow label*/
	
    .os-step-label{
        margin-top: 23px;
    }
	/*DHSOPR-4106 Line Alignment*/
	.vlc-separator{
		margin-bottom: 19px;
		display: none;
	}
	.slds-page-header__title{
		display: inline-block;
		border-bottom: 1.5px solid #285DAC;
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-bottom: 8px;
		margin-bottom: 32px;
   }
	/*DHSOPR-4106*/
    .notice-heading{
        color: #036;
        font-family: BC Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    }
.normal-body-text{
    color: #313132;
font-family: BC Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.no-margin{
    margin: 0;
}
.mg-bottom_16{
    margin-bottom: 16px;
}
.mg-bottom_24{
    margin-bottom: 24px;
}
.collection-notice-cont{
    padding: 48px 40px;
    background-color: #FAFAFA;
    border-left: 8px solid #036;
    margin-bottom: 48px;
}
    /*********** for Tablate ******/
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .registration-selection-block .slds-form-container {
    min-height: 418px;
      }
      .comm-page-home c-patient-regnavigation-block{
        display: flex;
      }
      .comm-page-home c-patient-reg-block-styling{
        width: 100%;
        margin-bottom: 24px;
      }
      .registration-selection-block .slds-form-container{
        padding: 40px 32px 0; 
        min-height: auto;
      }
      .registration-selection-block c-patient-regnavigation-block{
        display: flex;
      }
      .comm-page-home .omniscript-step__body c-patient-regnavigation-block .buttonAlign{
        padding: 0px 32px 40px 32px;
      }
      .header-h1{
		font-size:32px !important;
		line-height:48px;
		margin-bottom: 32px !important;
	}
    
	.body-text{
		font-size:16px;
		line-height:24px;
		margin-bottom: 48px;
	}
	.header-h2{
		font-size:28px !important;
		line-height:40px;
		margin-bottom: 32px !important;
		color: #313132;	
	}
    .collection-notice-cont{
        margin-bottom: 30px;
    }
    }
	
/******** For Mobile *****/
	@media only screen and (max-width: 767px){
        .collection-notice-cont{
            padding: 40px 32px;
            margin-bottom: 30px;
        }
        .comm-page-home .omniscript-step__body c-patient-regnavigation-block .buttonAlign{
            padding: 0px 24px 32px 24px;
        }
      
        .registration-selection-block .slds-form-container{
          padding: 32px 24px 16px; 
          min-height: auto;
          
        }
        .header-h1{
            font-size:28px !important;
            line-height:40px;
            margin-bottom: 24px !important;
            color: #313132;
        }
        .body-text{
            font-size:16px;
            line-height:24px;
            margin-bottom: 32px;
            
        }
        .header-h2{
            font-size:24px !important;
            line-height:36px;
            margin-bottom: 24px !important;	
        }
	.vlc-separator{
		margin-bottom: 13px;
		}	
		.siteforceContentArea .comm-layout-column:not(:empty) {
			padding-top: 0;
		}
		.omni-block_content[omnistudio-omniscriptBlock_omniscriptBlock]{
			padding-left:0 !important; 
			padding-right: 0 !important;
		  }
		  .omniscript-side-content{
			margin-top: 0;
		  }
		  .omniscript-article[data-content-position='top']{
			margin-top: 0 !important;
		  }
		  .os-step-label{
			margin-top: 20px;
		  }
		  c-patient-reg-block-styling{
			margin-bottom: 24px !important;
		  }
		  .omniscript-article[data-content-position='top']{
			border: none;
		  }
		  .omniscript-article[data-content-position='top'] > div{
			padding: 0;
		  }
	}
	
	
	
	
	/*tablet*/
	@media screen and (min-width: 768px)and (max-width: 1023px){
	
	}
	
	